# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/

lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.vscode/


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3

data/

docker-compose.yml
config/nginx/storyconnect.conf
.vscode/launch.json
backend/storyconnect/firebase_credentials.json
frontend/storyconnect/android/app/google-services.json
frontend/storyconnect/android/app/google-services.json
frontend/storyconnect/ios/Runner/GoogleService-Info.plist
frontend/storyconnect/ios/firebase_app_id_file.json

assets.zip


frontend/storyconnect/ios/Flutter/Generated.xcconfig
frontend/storyconnect/ios/Flutter/flutter_export_environment.sh
frontend/storyconnect/ios/Runner/GeneratedPluginRegistrant.h
frontend/storyconnect/ios/Runner/GeneratedPluginRegistrant.m
frontend/storyconnect/linux/flutter/ephemeral/*
frontend/storyconnect/macos/Flutter/ephemeral/*
